.header{
	width: 100%;
	background-color: rgba(0,0,0,0.1);
	position: absolute;
}

.header ul{
	text-align: center;
}

.header ul li{
	list-style: none;
	display: inline-block;
}

.header ul li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	font-family: sans-serif;
	letter-spacing: 2px;
	font-weight: 200;
	padding: 25px;
	transition: all ease 0.5s;
}

.header ul li a:hover{
	background-color: #262323;
}